.post-list {
  margin: 0 0 2em 0;
  padding: 0;
}

.post-teaser--li {
  list-style-type: none;
}

.post-teaser {
  display: grid;
  border-top: 1px solid get-color(black);
  grid-template-columns: 1fr;
  grid-gap: 3em;

  .post-teaser--li:last-of-type & {
    border-bottom: 1px solid get-color(black);
  }

  @include bp(post-teaser--columns) {
    display: grid;
    grid-template-columns: phi-a(1fr) phi-b(1fr);
  }
}

.post-teaser--text {
  order: 2;

  @include bp(post-teaser--columns) {
    order: inherit;

    .no-image & {
      grid-column: 1 / -1;
    }
  }
}

.post-teaser--thumb {
  order: 1;
  max-height: 8em;
  overflow: hidden;

  @include bp(post-teaser--columns) {
    max-height: 100em;
    overflow: visible;
  }
}

.post-teaser--image-link {
  @include unset-faux-underline-links();
}
