.header-wrapper {
  margin-right: -#{get-size(side-margin)};
  margin-left: -#{get-size(side-margin)};
  width: 100vw;

  @include bp(navigation--wide) {
    margin-right: -#{get-size(side-margin--wide)};
    margin-left: -#{get-size(side-margin--wide)};
  }
}

.site-header-spacer {
  position: relative;
}

.site-header-fixed {
  position: fixed;
  top: 0;
  z-index: 100;

}

.site-header {
  background-clip: padding-box;
  width: 100%;
  overflow: hidden;
  color: var(--header-color);

  @include bp(navigation--narrow) {
    display: grid;
    background-color: var(--header-background-color);
    background-image: var(--header-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: var(--header-blend);
    grid-template-rows: repeat(2, auto);

    .nav-primary {
      order: -1;
      background-color: get-color(white);
    }
  }

  @include bp(navigation--wide) {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.33em dashed var(--header-color);
    background-clip: padding-box;
    background-color: var(--header-color);
  }
}
