.site-header {
  @include margin-compensation();
  position: relative;

  @include breakpoint($bp--navigation--wide) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5em;
    border-bottom: 0.33em dotted currentColor;
    padding-top: 1.5em;
    padding-bottom: 5em;
    padding-left: get-spacing(side-margin--wide);
    min-width: 40em;

    &.image-1 {
      background-color: #253e3f;
    }

    &.image-2 {
      background-color: #023a43;
    }

    &.image-3 {
      background-color: #2a2933;
    }

    &.image-4 {
      background-color: #b1b8a4;
    }

    &.image-5 {
      background-color: #d6bb4a;
    }

    &.image-6 {
      background-color: #094e8e;
    }

    &.image-7 {
      background-color: #2D5185;
    }

    &.image-8 {
      background-color: #303738;
    }

    &.image-9 {
      background-color: #504530;
    }

    &.image-10 {
      background-color: #002a32;
    }

  }

  @include breakpoint(870px) {
    padding-left: 15%;
  }

  @include breakpoint(1100px) {
    justify-content: center;
    padding-left: 0;

    .button-logo {
      margin-left: -7em;
    }

  }

  .button-logo {
    z-index: 1;
  }
}
