.site-header {
  display: grid;
  position: fixed;
  z-index: get-z(toggled-menu);
  border-bottom: 0.75em solid get-color(white);
  background-clip: padding-box;
  background-color: currentColor;
  width: 100vw;
  overflow: hidden;
  color: var(--header-color);
  grid-template-rows: repeat(2, auto);

  @include bp(navigation--wide) {
    display: grid;
    align-items: center;
    border-bottom: 0.33em dashed currentColor;
    background-clip: padding-box;
    padding-top: 1.5em;
    padding-bottom: 2em;
    padding-left: get-size(side-margin--wide);
    min-width: 40em;
    height: 398px;
    transition-property: background-color, height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    grid-template-columns: 330px .6fr;

    &.collapse-header {
      display: grid;
      align-items: start;
      padding: 0.25em 0.75rem 0;
      height: 110px;
      grid-template-columns: 320px 1fr;
      grid-gap: 1em;
      @include breakpoint($page-max-width) {
        @include content-limiter-padding();
      }
    }
  }

  @include bp(navigation--full) {
    &.collapse-header {
      height: 90px;
      grid-template-columns: 400px 1fr;
    }
  }

  @include breakpoint(870px) {
    padding-left: 15%;
  }

  @include breakpoint(1100px) {
    justify-content: center;
    padding-left: 0;
  }

  @include breakpoint($page-max-width) {
    @include content-limiter-padding();
  }

  .button-logo {
    z-index: 1;
  }
}
