////
/// @group Base
////

// Better style reset
@import "~normalize.scss/normalize.scss";

* {
  box-sizing: border-box;
}

html {
  background-color: $color-theme--background;
  line-height: $base-line-height-unitless;
  color: $color-theme--text;
  font-family: $font-body;

  @if ($use-fluid-type) {
    // This will adjust the base HTML font size fluidly between the xsmall and
    // xlarge breakpoints to a font size between $root-typesize--min minimum to $root-typesize maximum.
    @include fluid-type(font-size, $bp--xsmall, $bp--xlarge, $root-typesize--min, $root-typesize);
  }

  else {
    font-size: unitless-convert($root-typesize, 16px) * 100%;
  }
}

body {
  // add body styles if needed
}
