.full-page {
  display: grid;
  margin: 0 auto;
  padding: 0 get-size(side-margin);
  min-height: 100vh;
  grid-gap: 2em;
  grid-template-rows: auto 1fr auto;

  @include bp(typography-narrow) {
    padding: 0 get-size(side-margin--wide);
  }
}

.page-content {
  @include content-limiter();
}

.footer-content {
  @include content-limiter();
}
