.page-title {
  @include h1();
  position: relative;
  z-index: 2;
  margin-bottom: 0.33em;
  font-weight: 800;
  font-style: italic;
  @include bp(portfolio--show-details) {
    flex-basis: 100vw;
  }
}
