.full-page {
  display: grid;
  margin: 0 auto;
  padding: 0 get-size(side-margin) 0;
  min-height: 100vh;
  grid-gap: 2em;
  grid-template-rows: 1fr auto;

  @include bp(typography-narrow) {
    padding-right: get-size(side-margin--wide);
    padding-left: get-size(side-margin--wide);
  }

  @include bp(navigation--narrow) {
    padding-top: 14em;
  }

  @include bp(navigation--wide) {
    padding-top: 22em;
  }
}

.page-content {
  @include content-limiter();
}

.footer-content {
  @include content-limiter();
}
