////
/// @group Layout
////

/// Compensate for page margins
/// @param {string} $sides [both] - both, left, right
@mixin margin-compensation($sides: 'both') {
  $side-margin: get-size(side-margin);
  $side-margin--wide: get-size(side-margin--wide);
  @if ($sides == 'both') {
    margin-right: -$side-margin;
    margin-left: -$side-margin;
    @include bp(typography-narrow) {
      margin-right: -$side-margin--wide;
      margin-left: -$side-margin--wide;
    }
  } @else if ($sides == 'left') {
    margin-left: -$side-margin;
    @include bp(typography-narrow) {
      margin-left: -$side-margin--wide;
    }
  } @else if ($sides == 'right') {
    margin-right: -$side-margin;
    @include bp(typography-narrow) {
      margin-right: -$side-margin--wide;
    }
  }
}

/// Compensate for page margins in inner items
/// @param {string} $sides [both] - both, left, right
@mixin margin-compensation--inner($sides: 'both', $side-margin: 0, $side-margin--wide: 0) {
  @if ($sides == 'both') {
    margin-right: $side-margin;
    margin-left: $side-margin;
    @include bp(typography-narrow) {
      margin-right: $side-margin--wide;
      margin-left: $side-margin--wide;
    }
  } @else if ($sides == 'left') {
    margin-left: $side-margin;
    @include bp(typography-narrow) {
      margin-left: $side-margin--wide;
    }
  } @else if ($sides == 'right') {
    margin-right: $side-margin;
    @include bp(typography-narrow) {
      margin-right: $side-margin--wide;
    }
  }
}

/// Limit content dimensions
@mixin content-limiter() {
  margin: 0 auto;
  width: 100%;
  max-width: $page-max-width;
}

/// Calculate widths for flex-layout columns
/// @param {integer} $column [1] - what column
@mixin flex-layout--2($column: 1) {
  @if ($column == 1) {
    flex-basis: calc(#{phi-a(100%)} - 1.5em);
  }
  @if ($column == 2) {
    flex-basis: calc(#{phi-b(100%)} - 1.5em);
  }
}

/// Limit content dimensions with padding (no wrapper)
@mixin content-limiter-padding() {
  padding-right: calc((100% - #{$page-max-width}) * .5);
  padding-left: calc((100% - #{$page-max-width}) * .5);
}
