@mixin nav-primary--item {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: get-font(surveyor);

  //@include bp(navigation--wide) {
  //  font-size: ms(1);
  //  font-weight: 200;
  //
  //  .collapse-header & {
  //    letter-spacing: 0.25em;
  //    font-size: ms(-1);
  //  }
  //}
  //
  //@include bp(navigation--full) {
  //  .collapse-header & {
  //    font-size: ms(0);
  //  }
  //}
}
