.portfolio-navigation {
  @include content-limiter();
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 0.25em solid color(black);

  @include bp(navigation--wide) {
    margin-top: -2em;
  }

  .section-title {
    margin-right: 1em;
  }
}

.pn--nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.pn--nav-list-item {
  margin-right: 1em;
  margin-bottom: 1em;
  min-width: 4em;
  max-width: 6em;
  list-style-type: none;

  @include bp(navigation--wide) {
    margin-right: 2em;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.pn--nav-list-item--link {
  @include unset-faux-underline-links();
}

.pn--nav-list-item--image {
  margin-bottom: 0.25em;
  width: 4em;

  @include bp(navigation--wide) {
    width: 6em;
  }
}

.pn--nav-list-item--name {
  font-size: fontsize-rem(ms(-2));

  @include bp(navigation--wide) {
    font-size: fontsize-rem(ms(-1));
  }
}
