.portfolio-navigation {
  display: grid;
  align-items: baseline;
  border-bottom: 0.25em solid get-color(black);
  grid-gap: 1em;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header expand" "content content";
}

.nav-portfolio-trigger--label {
  svg {
    transform: rotate(0deg);
    color: get-color(grayscale);
    transition-property: color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  [id='nav-portfolio-trigger']:checked ~ & {
    svg {
      transform: rotate(90deg);
      color: get-color(grayscale, light);
    }
  }
}

.pn--nav-list {
  display: grid;
  justify-content: start;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 2em;
  overflow: hidden;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(4em, 6em));
  grid-area: content;
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  [id='nav-portfolio-trigger']:checked ~ & {
    max-height: 100em;
  }

  &:hover {
    max-height: 100em;
  }
}

.pn--nav-list-item {
  list-style-type: none;

  &:last-of-type {
    margin-right: 0;
  }
}

.pn--nav-list-item--link {
  @include unset-faux-underline-links();
}

.pn--nav-list-item--image {
  margin-bottom: 0.25em;
}

.pn--nav-list-item--name {
  font-size: fontsize-rem(ms(-2));

  @include bp(navigation--wide) {
    font-size: fontsize-rem(ms(-1));
  }
}
