////
/// @group Layout
////

/// Limit content dimensions
@mixin content-limiter() {
  margin: 0 auto;
  max-width: $page-max-width;
}

/// Calculate widths for flex-layout columns
/// @param {integer} $column [1] - what column
@mixin flex-layout--2($column: 1) {
  @if ($column == 1) {
    flex-basis: calc(#{phi-a(100%)} - 1.5em);
  }
  @if ($column == 2) {
    flex-basis: calc(#{phi-b(100%)} - 1.5em);
  }
}
