.talk {
  clear: both;
  margin-bottom: 6em;

  @include bp(talk-columns) {
    display: grid;
    grid-template-columns: phi-a(1fr) phi-b(1fr);
    grid-gap: 3em;
  }
}

.talk--title {
  margin-bottom: 0;
  border-bottom: 0.25em solid currentColor;
  padding-bottom: 4px;
  grid-column: 1 / -1;
}

.talk--sample-slide {
  margin-bottom: 2em;

  img {
    border: 1px solid get-color(black);
  }
}

.talk--slides-link {
  margin: 1em 0;

  a {
    @include unset-faux-underline-links();
    display: inline-block;
    position: relative;
    border-bottom: 5px solid get-color(black);
    padding: 0 1em 0.25em 0;
    font-size: fontsize-rem(ms(1));
    font-weight: 800;
    font-style: italic;

    &:after {
      position: absolute;
      right: -0.5em;
      bottom: -5px;
      transform: skewX(30deg);
      border-width: 0.33em;
      border-style: solid;
      border-color: transparent transparent get-color(black) get-color(black);
      width: 0;
      height: 0;
      content: '';
      transform-origin: 100% 100%;
    }
  }
}

.talk--video {
  max-width: 100%;

  iframe {
    max-width: 100%;
  }
}

.video-container--youtube {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//.talk--description {}
.talk--events {
  ul {
    padding-left: 0.5em;
    list-style-type: none;
  }
}

.talk--event {
  margin-bottom: 0.5em;

  @include bp(talk-event--wide) {
    font-size: fontsize-rem(ms(1));
  }
}

.talk--event-name {
  font-weight: 600;
}

.talk--reactions {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, 19rem);
  grid-auto-flow: dense;
  grid-gap: inherit;
  grid-column: 1 / -1;

  .tall {
    grid-row: span 2;
  }

  .wide {
    grid-column: span 2;
  }

  .comment {
    margin: 0;
    border: 1px solid get-color(gray);
    padding: 1em;
    font-size: get-font-size(0);

    footer {
      margin: 0 -1em -1em;
      background: get-color(black);
      padding: 0.25em 1em 1em;
      color: get-color(white);

      a {
        @include link-knockout-underline();
      }
    }
  }
}
